
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root{
    --cor-de-fundo: 1e1e1e;
    --verde: #6fff57;
    --branco: #FFFFFF;
    --botão-ativo: #3a375e;
--botao-inativo: rgba (58,55, 94, 0.3);

}
body{
background-color:color: var(var(--cor-de-fundo));
color: var(--branco);
font-family: 'Chacra petch', sans-serif;

color: #FFFFFF;

}